

body {
    background-color: bisque;
    width:1000px;
    margin:auto;
}
/* Header */
header{
    background-color:burlywood;
    height:120px;
    margin-top:20px;
    margin-bottom: 22px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}

.logotipo{
    background-color:rgb(139, 114, 82);
    height:60px;
    width:200px;
    margin-left: 30px;
    margin-right:5px;
    

}
.redes{
    
    height:42px;
    width:140px;
    
    display:flex;
    justify-content:space-between;
    margin-right:30px;
}
.icono {
    width:30%;
    border-radius:50%;
    background-color:rgb(139, 114, 82);
}
/* Navegación*/
nav{
    
    height:48px;
    width:100%;
    margin-bottom:26px;
    background-color:burlywood;
    
    
}
ul{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    list-style-type: none;
    display:flex;
}
li{
    
    width:20%;
    height:100%;
    border-right:1px solid grey;
    
}
/* Seccion elementos destacados */
.destacados{
    height:192px;
    margin-bottom:26px;
    background-color:burlywood;
    display:flex;

}
.destacado{
    width:33%;
    height:100%;
    background-color:rgb(139, 114, 82);
}
.destacado1{
    width:33%;
    height:100%;
    margin-right:5px;
    margin-left:5px;
    background-color:rgb(139, 114, 82);
}
/*Seccion principal */
.principal{
    height:450px;
    margin-bottom:26px;
    background-color:burlywood;

}
article{
    height:100%;
    width:600px;
    margin:auto;
    background-color:rgb(139, 114, 82);
}
/* Footer*/
footer{
    height:70px;
    margin-bottom:20px;
    background-color:burlywood;
}

/* Media Queries*/
@media (max-width:1000px) {
    body {
        width:100%
    }
    
}
@media (max-width:600px) {
    article {
        width:100%;
    }
    

}
@media (max-width:420px) {
    
    
}

    

